body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;

  /* position: sticky;
  top: 0; */
}

ul {
  list-style-type: disc; /* Set the type of the marker (disc, circle, square) */
  /* Alternatively, you can use list-style-image to set a custom image */
  /* list-style-image: url('path/to/custom-marker.png'); */
}

/* Adjust the size of the list item marker */
li {
  font-size: 70%; /* You can adjust the percentage based on your preference */
}
.navbar-menu {
  display: none;
  font-family: Montserrat;
  font-size: 14px;
}
.logo {
  width: 89px;
  height: auto;
}
.yellow-background {
  background: #ffd900;
  height: 100%;
  width: 50%;
  position: absolute;
  margin-top: -60px;
  margin-left: 50%;
  z-index: -1;

  border-radius: 50px 0 0 0;
}
.burger {
  background-color: transparent;

  cursor: pointer;
  border: none;
}
.dropbtn {
  background-color: transparent;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}

.dropbtn:hover,
.burger {
  /* background-color: lightgray; */
}

.s-one .paragraph {
  width: 281px;
}

.title-countdown {
  font-display: flex;
  flex-direction: column;
}
.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 20%;
  height: 450px;
  background-color: #f1f1f1;
  min-width: 220px;
  overflow: auto;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: Montserrat;
}
/* .dropdown-content a {
  padding-top: 40px;
} */
.dropdown-content a:hover {
  background-color: white;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  /* background-color: yellow; */
  /* padding: 10px 5px; */
}
.title {
  /* background-color: blueviolet; */
  padding: 20px;
  /* text-align: left; */
  margin: 0 auto;
  /* margin-top: 40px; */
  font-size: 24px;
  width: 261px;
}
.s-one {
  /* margin-bottom: 20px; */
  /* height: fit-content; */
  /* margin-bottom: 50px; */
}

.s-one span {
  color: #dd71c6;
}
.subtitle-container {
  text-align: center;
  font-family: Montserrat;
}

.available {
  margin: 0 auto 20px;
  text-align: center;
  font-size: 12px;
}
.countdown-outer-container {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* background: greenyellow; */
}
.countdown-container {
  display: flex;
  width: 281px;
  height: 159px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  border-radius: 30px;
  background: linear-gradient(
    108deg,
    rgba(255, 255, 255, 0.51) 9.7%,
    rgba(255, 255, 255, 0.49) 88.76%
  );
  /* background: yellow; */

  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  margin-bottom: 15px;
}

.countdown-title {
  font-size: 12px;
  font-family: Montserrat;
  margin-top: 30px;
}

.units-title {
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: #0083d3;
  font-size: 8px;
}
.units-number {
  font-size: 18px;
  color: #333;

  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%; /* 32.022px */
}
.units-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #d4107c; */
  gap: 15px;
  /* padding: 15px; */
  margin-bottom: 15px;
}

.units {
  text-align: center;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;

  /* background-color: white; */
}

.paragraph-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle {
  margin: 0 auto;
}

.doctors-img {
  width: 100%;
}

.doctors .paragraph {
  width: 281px;
  text-align: left;
}
.friends-img {
  display: none;
}
.paragraph {
  /* max-width: 281px; */
  /* background-color: blueviolet; */
  font-family: Montserrat;
  /* width: 80%; */
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.booking-btn {
  height: 40px;
  width: 215px;
  border: none;
  background: #dd71c6;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  align-items: center;
  /* padding: 30px; */

  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
.yellow {
  margin-top: 20px;
  background-color: #ffd900;
}

.booking-btn:hover {
  opacity: 0.8;
}

.booking-btn:active {
  background-color: #d4107c;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
.booking-btn-text {
  color: #fff;

  /* text-align: center; */
  font-family: Montserrat;
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 600;
  /* line-height: normal; */
}

.s-two {
  /* background-color: #dd71c6; */
  /* padding: 30px; */
  /* height: fit-content; */
  margin-top: 40px;
  padding: 30px 30px;
  background: #dd71c6;
  border: none;
}

.pink-background {
  /* background: #dd71c6;
  position: absolute;
  width: 100%;
  height: 1000px;
  

  z-index: -1; */
}
.bubble-container {
  /* display: grid;
  flex-wrap: wrap;
  flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center;
  background-color: yellow;
  padding: 20px;
  max-width: 70%;
  width: 300px;
  margin: 0 auto; */
  /* gap: 20px; */
  margin: 0 auto;
  /* margin-top: 40px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  grid-template-rows: repeat(2, 1fr); /* Create two rows */
  gap: 15px;
  width: 300px; /* Set the width of the container */
  height: 310px; /* Set the height of the container */
  /* margin: 30px auto 40px; */
  /* margin-bottom: ; */
}
.bubble {
  display: flex;
  width: 134px;
  height: 157px;

  flex-direction: column;
  justify-content: space-evenly;
  font-size: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  /* margin: 25px; */
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.03);
  font-family: Montserrat;
  text-align: center;
  font-size: 12px;
}
.s-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #73c3f4;
  color: white;
}
.s-three-text-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.s-three-text-card {
  display: flex;
  flex-direction: column;
  width: 281px;
}

.s-four {
  background-color: #f9f9f9;
}
.woman-container {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  background-color: #d4107c;
  position: relative;
}
.woman {
  /* margin: 0 auto; */
  height: 300px;
  position: absolute;
  top: 50%; /* Adjust the vertical position */
  left: 47%; /* Adjust the horizontal position */
  transform: translate(-50%, -50%);
}

.circle {
  margin: 0 auto;
  height: 210px;
  width: auto;
  position: absolute;
  top: 61%; /* Adjust the vertical position */
  left: 55%; /* Adjust the horizontal position */
  transform: translate(
    -50%,
    -50%
  ); /* Center the image relative to its parent */
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  padding-top: 10px;
  /* background: black; */
}
.plus {
  font-size: 20px;
  color: gray;
}
.bubble-number {
  font-weight: bold;
  font-size: 18px;
}

.separator {
  width: 90%;
  height: 1px;
  background-color: #0083d3;
  margin: 10px auto;
}
.separator2 {
  width: 90%;
  height: 1px;
  background-color: #dd71c6;
  margin: 10px auto;
}
.body-mass-container {
  width: 281px;
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  justify-content: center;

  align-items: flex-start;
  margin: 20px auto;
  gap: 40px;
}
.body-mass {
  width: 281px;
  height: 250px;
  display: flex;

  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}
.body-mass-title-line {
  width: 281px;
  height: 250px;
  margin: 0 auto;
  /* background-color: yellow; */
  text-align: center;
}
.body-mass-title {
  color: #0083d3;
  font-family: Libre Baskerville, sans-serif;
  margin: 0 auto;
  font-size: 18px;
}
.pink {
  color: #dd71c6;
}
.li-text {
  font-size: 14px;
  font-family: Montserrat;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;

  margin: 0 auto 30px;
  /* background: yellow; */
  width: 308px;

  gap: 1px;
}
.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: #f9f9f9;
  padding: 0 15px 0 20px;
  font-family: Montserrat;
  /* height: 15px; */
  /* width: 308px; */
  /* background: yellow; */
}
.chevron {
  width: 20px;
  height: 10px;
  stroke-width: 6px;
  cursor: pointer;
}
.show {
  display: block;
}

footer {
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;

  /* width: fit-content; */
  max-width: 1300px;
  gap: 1px;
}
.footer-body {
  display: flex;

  justify-content: space-between;

  /* background: yellow; */
  flex-direction: column;
  align-items: flex-start;
}
.contact-logo-icon {
  /* height: 2px; */
  width: 170px;
}
.footer-info p {
  font-size: 16px;
  font-family: Montserrat;
}
.footer-info h2 {
  font-family: Libre Baskerville;
}
.footer-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 50%; */
}
.footer-text {
  width: 300px;
  /* background: yellow; */
  font-family: Montserrat;
}
.contact {
  display: flex;
  flex-direction: row;
}
.contact-info-icon {
  height: 20px;
  width: 20px;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  /* background-color: #d4107c; */
  padding-left: 10px;
  font-family: Montserrat;
  font-size: 14px;
  width: 100%;
}
.contact-info {
  font-weight: bold;
}
.footer-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 50%; */
  /* background-color: #dd71c6; */
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  .paragraph {
    width: 430px;
  }
  .body-mass-container {
    /* width: 430px; */
    height: fit-content;
  }

  .title {
    width: 430px;
  }
  .dropdown-container {
    width: 430px;
  }
  .footer-links {
    flex-direction: row;
    width: 400px;
    /* background: #000; */
  }
  .footer-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 50%; */
    /* background-color: #dd71c6; */
    gap: 20px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 900px) {
  .dropdown-content {
    display: none;
    position: absolute;
    right: auto;
    height: 500px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Montserrat;
  }
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  .dropbtn {
    display: none;
  }

  .bubble-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    gap: 30px;
  }
  .paragraph {
    width: 900px;
  }
  .s-three .title {
    text-align: center;
  }
  .doctors-img {
    display: none;
  }
  .doctors .paragraph {
    width: 900px;
    text-align: center;
  }
  .doctors .title {
    text-align: center;
  }
  /* .body-mass-container {
    flex-direction: row;
  } */
  .body-mass {
    width: 440px;
    /* height: 363px; */
  }
  .title {
    width: 900px;
    font-size: 32px;
  }

  .s-four .title {
    text-align: center;
  }
  .dropdown-container {
    width: 900px;
  }
  .footer-links {
    flex-direction: row;
  }
  .footer-footer {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer-body {
    flex-direction: row;
  }

  .footer-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1135px) {
  .title-countdown {
    font-display: flex;
    flex-direction: row;
    width: 800px;
  }
  .s-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1135px;
    margin: 0 auto;
  }
  .s-one .title {
    width: 500px;
    background: yellow;
    align-items: flex-start;
  }
  .bubble {
    width: 249px;
    height: 263px;
  }
  .body-mass-container {
    flex-direction: row;
  }
  .friends-img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .paragraph {
    width: 1135px;
  }
  .s-three {
    display: flex;
    flex-direction: row;
  }
  .title {
    width: 1135px;
  }
  .dropdown-container {
    width: 1135px;
  }

  footer {
    width: 1135px;
  }
  .footer-links {
    /* flex-direction: row; */
  }
  .footer-footer {
    /* flex-direction: row;
    align-items: flex-start; */
  }
  .footer-body {
    /* flex-direction: column; */
  }

  .footer-contact-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    gap: 20px;
    margin-bottom: 30px; */
  }
}

/* @media screen and (min-width: 375px) {

} */
